:root {
  --primary-color: #EB5939 !important;
  --accent-color: #C64A2E !important;
  --background-color: #B7AB98 !important;
  --text-color: #EB5939 !important;
}

/* Body */
body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

/* Navbar */
.navbar.navbar-expand-md {
  background-color: var(--primary-color) !important;
}

.navbar a {
  color: white !important;
}

.navbar a:hover {
  color: var(--accent-color) !important;
}

/* Sidebar */
.bd-sidebar {
  background-color: var(--background-color) !important;
}

.bd-sidebar a {
  color: white !important;
}

.bd-sidebar a:hover {
  color: var(--primary-color) !important;
}

/* Footer */
.footer {
  background-color: var(--primary-color) !important;
  color: white !important;
  text-align: center;
  padding: 10px;
}
