:root {
  /* Custom colors */
  --md-primary-fg-color: #EB5939 !important;  /* Orange */
  --md-accent-fg-color: #EB5939 !important;
  --md-default-bg-color: #B7AB98 !important; /* Beige */
  --md-text-color: #EB5939 !important;
}

/* Apply Colors */
body {
  background-color: var(--md-default-bg-color) !important;
  color: var(--md-text-color) !important;
}

/* Header */
.md-header {
  background-color: var(--md-primary-fg-color) !important;
}

.md-header__title {
  color: white !important;
}

/* Sidebar */
.md-sidebar {
  background-color: var(--md-default-bg-color) !important;
}

.md-sidebar a {
  color: white !important;
}

.md-sidebar a:hover {
  color: var(--md-primary-fg-color) !important;
}
